body
{
    background-color: darkslategray;
}
h1
{
    color: #000;
    border: 5px solid #333;
    background-color: #777;
    margin-left:20px ;
    padding-left: 20px;
    margin-bottom: 100px;
    height: 200px;
    width: 50%;
    outline: 10px black solid;
    outline-offset: 5px;
}
p
{
    color:#000;
    border: 5px solid #333;
    background-color: #777;
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 50px;
    height: 200px;
    width: 75%;
    outline: 10px black solid;
    outline-offset: 5px;
}